.header {
  &__slider {
    position: absolute;
    left: calc(50% + 120px);
    bottom: calc(50% - 325px);

    @media screen and (max-width: 1650px) {
      left: calc(50% + 30px);
      bottom: calc(50% - 280px);
    }

    @media screen and (max-width: 1440px) {
      left: calc(50% + 48px);
      bottom: calc(50% - 248px);
    }

    @media screen and (max-width: 1200px) {
      left: 50%;
      bottom: calc(50% - 310px);
      width: 815px;
      transform: translateX(-50%);
    }

    @media screen and (max-width: 768px) {
      width: 525px;
      bottom: calc(50% - 375px);
    }

    @media screen and (max-width: 576px) {
      bottom: 2%;
      width: 320px;
    }

    @media (max-width: 896px) and (orientation: landscape) {
      bottom: calc(50% - 290px);
    }

    @media (max-width: 568px) and (orientation: landscape) {
      bottom: 2%;
    }
  }

  &__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 22px;
    background-color: #fff;
    box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
    border-radius: 32px;
    margin-right: 16px;

    @media screen and (max-width: 576px) {
      padding: 18px 10px;
    }
  }

  &__slide-subtitle {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C57;
  }

  &__slide-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #68799F;
  }
}